annotated-types
anyio
attrs
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
distro
dnspython
EditorConfig
exceptiongroup
filelock
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
jiter
joblib
jsbeautifier
lightgbm
lxml
MarkupSafe
mpmath
networkx
numpy
openai
outcome
packaging
publicsuffix2
pandas
pillow
pycparser
pydantic
pydantic_core
PySocks
python-dateutil
python-dotenv
python-magic
python-whois
pytz
PyYAML
regex
requests
requests-file
safetensors
scikit-learn
scipy
selenium
sentence-transformers
six
sniffio
sortedcontainers
soupsieve
sympy
threadpoolctl
tldextract
tokenizers
torch
tqdm
transformers
trio
trio-websocket
typing-inspection
typing_extensions
tzdata
urllib3
validators
webdriver-manager
websocket-client
wsproto
xgboost
